@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Ysabeau+Infant:ital,wght@1,200;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Ysabeau Infant', sans-serif;
}
